.container{

    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;


}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px 5px;
   
    box-shadow: 5px 5px 5px;
    outline: 1px solid;
    outline-offset: -5px;
}
form{
    width: 500px;

}
label{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:480px){
    form{
        width: 90%;
    
    }
}